body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(139, 0, 86);
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background: linear-gradient(#e66465, #9198e5);
    
    
}
header h1{
    text-align: center;
    align-items: center;
    font-size: 100px;
    background-color:linear-gradient(#e66465, #9198e5);
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
nav{
    background-color: black;
    text-align:center;
}
nav a{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
}
nav a:hover{
    background-color: white;
    color: black;
}
main {
    background-color: linear-gradient(#e66465, #9198e5);
    text-align: center;
   }
.presentation{
    width: 40%;
    margin: 0 auto;
    background-color: #8a3ab9 ;
    font-size: 20px;
   
}

.presentation p {
    margin-top: 30px;
}

.contenu {
   
    display: block;
    background-color: linear-gradient(#e66465, #9198e5);
}

.insta {
    background-color: #8a3ab9;
    margin-bottom: 50px;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.insta img {
    max-width: 50%;
    height: auto;
}
.insta p {
    max-width: 50%;
    padding-top: 100px;
}
.insta2 {
    background-color: #8a3ab9;
    
}
.insta2 img {
   width: 10%;
   height: 10%;
}
footer {
    height: 80px;
    background-color: linear-gradient(#e66465, #9198e5);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.slogan {
  
   height: 80px;
   background-color:linear-gradient(#e66465, #9198e5);
   flex-basis: 80% ;
   text-align: right;
   padding-right: 10px;
}
.slogan p {
    background-color:#8a3ab9;
}
.logo1 {
    background-color: linear-gradient(#e66465, #9198e5);
    width: 80px;
    height: 80px;
    flex-basis: 5% ;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.logo1 img {
    width: 50px;
    height: 50px;
   
}
.logo2{
    background-color:linear-gradient(#e66465, #9198e5);
    width: 80px;
    height: 80px;
    flex-basis: 5% ;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo2 img {
    width: 50px;
    height: 50px;
}
.logo3 {
    background-color: linear-gradient(#e66465, #9198e5);
    width: 80px;
    height: 80px;
    flex-basis: 5% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo3 img {
    width: 50px;
    height: 50px;
}